.service_container {
    padding: 30px 20px;
    color: #1f2329;
    font-size: 12px;
    background: #fff;
}

.fontSize20 {
    font-size: 20px;
}

.fontSize18 {
    font-size: 18px;
}

.fontSize16 {
    font-size: 16px;
}

.fontSize14 {
    font-size: 14px;
}

.fontSize12 {
    font-size: 12px;
}

.fontWeightBold {
    font-weight: bold;
}

.color {
    color: #1f2329;
}

.textDecoration {
    text-decoration: underline;
}

.textIndent {
    text-indent: 2em;
}

.pt5 {
    padding-top: 5px;
}
